<div class="bg-primary-muted c-dark margin-3/1-top padding-3/1-bottom" id="about">
  <h2 class="padding-3/1-top padding-2/1-bottom">About me</h2>
  <div class="container">
    <div class="grid grid-center">
      <div class="grid-item 3/5 compact-1/1">
        <p class="margin-bottom">
          I’m the designer based in beautiful Gdańsk in Poland. I've got the experience in many different fields of
          design. My main scope is designing User Interfaces with the special care of User Experience, but I'm also
          passionate about graphic design, illustrations (including both traditional and digital), branding and prints.
        </p>
        <p>
          I am well organised, fast, and deadline oriented. I’m serious about the design tasks but it's also a great
          fun for me. Be sure that I'll do my best to create an awesome product for you!
        </p>
      </div>
    </div>

    <div class="grid grid-center padding-4/1-top compact-padding-top">
      <div class="grid-item 1/3 compact-1/1 compact-padding-top">
        <span class='fancy-text'>3+</span>
        <span class='fancy-text'>Years of professional experience</span>
      </div>
      <div class="grid-item 1/3 compact-1/1 compact-padding-top">
        <span class='fancy-text'>35+</span>
        <span class='fancy-text'>Design Projects</span>
      </div>
      <div class="grid-item 1/3 compact-1/1 compact-padding-top">
        <span class='fancy-text'>10+</span>
        <span class='fancy-text'>Development Projects</span>
      </div>
    </div>
  </div>
</div>
