 <div class="container padding-2/1-top" id="case-studies">
    <h2>Case Studies</h2>
    <div class="grid padding-3/1-top">
        {{> case url='alterans.html' name='Alterans Technologies' image="${require('../assets/images/projects/alterans.png')}"}}
        {{> case url='abot.html' name='Abot' image="${require('../assets/images/projects/abot.png')}"}}
        {{> case url='tipiux.html' name='Tipi UX rebranding' image="${require('../assets/images/projects/tipiux.png')}"}}
        {{> case url='devconf.html' name='DevConf 2018 branding' image="${require('../assets/images/projects/devconf.png')}"}}
        {{> case url='focusboard.html' name='Focus Board' image="${require('../assets/images/projects/focusboard.png')}"}}
        {{> case url='polanddeals.html' name='Poland Deals' image="${require('../assets/images/projects/polanddeals.png')}"}}
        {{> case url='dgtmarket.html' name='DGTMARKET' image="${require('../assets/images/projects/dgtmarket.png')}"}}
        {{> case name='GOTAR' image="${require('../assets/images/projects/gotar.png')}"}}
        {{> case name='[ART/ICLE]' image="${require('../assets/images/projects/article.png')}"}}
        {{> case name='certace' image="${require('../assets/images/projects/certace.png')}"}}
        {{> case name='TRUG' image="${require('../assets/images/projects/trug.png')}"}}
        {{> case name='10.ragnarson.com' image="${require('../assets/images/projects/10ragnarson.png')}"}}
        {{> case name='Ragnarson Branding' image="${require('../assets/images/projects/ragnarsonbrand.png')}"}}
        {{> case name='Branding Collection' image="${require('../assets/images/projects/branding.png')}"}}
    </div>
  </div>
