<div class="grid-item 1/3 compact-1/1">
  <div class="project-card margin-bottom">
    <div class="project-thumbnail">
      <img src={{image}} alt="" class="project-thumbnail-img">
    </div>
    <a href="" class="button button-project-card">See case Study</a>

    <div class="project-title">
      <h5 class="padding-1/4-top">{{name}}</h5>
    </div>
  </div>
</div>
