  <div class="hero padding-2/1-top c-light">
    <img src="../assets/images/hero-img.svg" alt="devices graphic" class="hero-img">
    <h1 class="font-size-large">Web solutions tailored for you</h1>
    <img src="../assets/images/iphone-mockup-hero.png" alt="phone mockup" class="hero-phone-img compact-hidden">
  </div>
