  <div class="c-text padding-3/1-top compact-padding-1/3-top">
    <h2 class="padding-3/1-top">From Sketching to Final Product</h2>
    <img src="../assets/images/iphone-mockup.png" alt="iphone mockup" class="padding-3/1-top">
    <div class="process-color-box c-light">
      <div class="grid grid-center">
        <div class="grid-item 2/5 compact-1/1">Going through the design process is extremely important to me - I keep the client involved on every stage of our cooperation to make him satisfied with the final result.</div>
      </div>
    </div>
    <h2 class="padding-2/1-top compact-padding-1/3-top" id="work-process">My Work Process</h2>
    <div class="container">
      <div class="grid padding-4/1-top compact-padding-top">
        <div class="grid-item 1/3 compact-1/1">
          <div class="process-no">1</div>
          <h3 class="padding-top c-primary">Meeting/Interview</h3>
          <p class="font-size-small">That's the perfect moment for getting to know each other, talk about your vision, goals and details of our cooperation. That's also the time for gathering all needed information about the project.</p>
        </div>
        <div class="grid-item 1/3 compact-1/1">
          <div class="process-no">2</div>
          <h3 class="padding-top c-primary">Research</h3>
          <p class="font-size-small">I check visual identity of other companies with a similar profile and analyze them, considering in which direction I want to go and what I prefer to avoid. Research is also for collecting inspirations.</p>
        </div>
        <div class="grid-item 1/3 compact-1/1">
          <div class="process-no">3</div>
          <h3 class="padding-top c-primary">Sketching/Prototyping</h3>
          <p class="font-size-small">The next step is sketching — it's very important because you can quickly reject the bad ideas and develop these which are better, all in a fast and efficient way.</p>
        </div>
      </div>
      <div class="grid padding-4/1-top compact-no-padding-top">
        <div class="grid-item 1/3 compact-1/1">
          <div class="process-no">4</div>
          <h3 class="padding-top c-primary">Presenting Ideas</h3>
          <p class="font-size-small">I choose the best ideas and show them to you so you can decide on the early stage if this direction is something that you expect.</p>
        </div>
        <div class="grid-item 1/3 compact-1/1">
          <div class="process-no">5</div>
          <h3 class="padding-top c-primary">Improvements & Polishing</h3>
          <p class="font-size-small">When you say: "This is the one" - I know that I can start working on the improvements and make the project look perfectly.</p>
        </div>
        <div class="grid-item 1/3 compact-1/1">
          <div class="process-no">6</div>
          <h3 class="padding-top c-primary">Front-end support</h3>
          <p class="font-size-small">
            Thanks to my experience in front-end industry it’s easier for me to understand and cooperate with the developers. I adjust my solutions to the existing web requirements and provide the complete package of resources that really speed up the implementation process.
          </p>
        </div>
      </div>
    </div>
  </div>
