<div class="section-top" id='app'>
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/10ragnarson.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>10.ragnarson.com</h2>
    <h3>Event website design</h3>
    <a href="https://10.ragnarson.com/" target="_blank" class="button button-project">
      Go to website
      <img src="../../assets/images/arrow-right.svg" class="button-icon">
    </a>
  </div>

  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">The main goal was to create the engaging event website for
            Ragnarson 10th anniversary. The concept was to present company history in a brief, pleasant way and don't
            bore the user.</p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <p class="padding-top text-left white-space">The layout consists of full-screen cards - each card contains a
            short information about the crucial event for the company. They are ordered chronologically so that the
            user is brought for a quick journey through the history. Cards have their own unique colors and graphics.
            To make the website more interactive and fun, I decided to add animations based on a scroll position.</p>
          <small class="c-dark">/In graphic cooperation with: Dominik Koślin</small>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affity Designer / sketchbook / Middleman (Ruby) / slim /sass / skrollr.js / svg
        animations / GIT</h3>
    </div>
    <div class="container">
      <img src="../../assets/images/projects/10ragnarson/1.png" class="project-img" alt="website mockup">
      <img src="../../assets/images/projects/10ragnarson/2.png" class="project-img" alt="landing page">
      <img src="../../assets/images/projects/10ragnarson/3.png" class="project-img" alt="landing page cards">
    </div>
  </div>
</div>
