  <div class="section-top">
    <div class="project-header padding-2/1-top c-light">
      <img src="./../../assets/images/projects/alterans.png" alt="devices graphic" class="header-img">
    </div>
    <div>
      <h2>Alterans Technologies</h2>
    </div>

    <div class="c-dark">
      <div class="container project-study text-left">
        <div class="grid padding-2/1-top">
          <div class="grid-item 1/2 compact-1/1 text-left">
            <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
            <h3 class="d-inline padding-left">Challenges</h3>
            <p class="padding-top text-left white-space">
              Alterans Technologies is a company that brings your mobile and web applications to life using Ruby and ReactJS. It's focused mostly on Startups but also takes care of maintaining the applications and developing the mature ones.
              My task was to create the visual identity of a brand from scratch, elaborate on the solution based on my experience and the client’s vision.
              I was supposed to design a logo, business cards and a website.
            </p>
          </div>
          <div class="grid-item 1/2 compact-1/1">
            <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
            <h3 class="d-inline padding-left">Solutions</h3>
            <ul class="padding-top text-left">
              <li>
                The logo was supposed to be associated with some stellar & futuristic motives, yet - clearly communicate the connection with the technology. Despite its detailed construction - the sign still seems to be minimalistic and presents well on smaller formats.
              </li>
              <li>
                The client already had the preferred color palette on his mind - I used the white and navy blue for branding and added some more vivid blue color detail on the website for the icons/buttons/links & other UI elements.
              </li>
              <li>The website has a clear structure and lets the potential clients find all the information they need</li>
              <li>By using a simple visual communication (font, color palette, clean UI solutions) the brand brings to mind reliability and trust</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <img src="../../assets/images/projects/alterans/1.png" class="project-img">
        <img src="../../assets/images/projects/alterans/2.png" class="project-img">
        <img src="../../assets/images/projects/alterans/3.png" class="project-img">
        <img src="../../assets/images/projects/alterans/4.png" class="project-img">
        <img src="../../assets/images/projects/alterans/5.png" class="project-img">
        <img src="../../assets/images/projects/alterans/6.png" class="project-img">
        <img src="../../assets/images/projects/alterans/7.png" class="project-img">
      </div>
    </div>
  </div>
{{> contact}}
{{> footer}}
