<div class="section-top" id='app'>
  {{> back-button}}
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/devconf.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>DevConf</h2>
  </div>
  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">
            DevConf is one of Poland's premier annual conferences dedicated to software development. It's based on
            principles the organizers believe are the success factors of an ultimate conference experience.
          </p>
          <p class="padding-top text-left white-space">
            The challenge was to design a coherent and visually catching conference identity. Differentiate this year's
            event from the previous one, introduce a fresh look while keeping the recognizable elements like logo &
            color palette. Design digital pieces (templates for social media, slides, sponsorship catalog) as well as
            materials used for print (catalog, badge, bag & t-shirt print, stickers, agenda posters etc.).
          </p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <ul class="padding-top text-left">
            <li>
              design a primary visual theme that helps to embrace all the materials and make them look consistent. This
              year it was all about logo deconstruction and using its elements in different compositions by letting
              them interpenetrate. I also used them for creating a repetitive pattern.
            </li>
            <li>
              make a visual connection to the city of Cracow that the conference took place in. Create a simplistic
              illustration of St. Mary's Basilica which is one of the best examples of Polish Gothic architecture.
            </li>
            <li>focus on the details, especially for the print materials that stay with people as the nice reminders of
              the event</li>
            <li>The color palette needed to be extensive because it will be used to create illustrative graphics. It's
              also so flexible that we can use the logo in many different color variations.</li>
            <li>
              All illustrations have the cut-out effect - they picture the elements connected with ethnic/tribal
              motives. To add some handmade graphic impression I covered all illustrations with the grained texture
            </li>
            <li>
              design the gadgets that people will use with pleasure & joy, even after the conference. To make it happen
              I tried to give them something more than just an event logo. We printed it in a non-obvious way, I used
              illustrations or colorful patterns to make the design itself standout first </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affinity Designer / Affinity Photo</h3>
    </div>
    <div class="container">
      <img src="../../assets/images/projects/devconf/1.png" class="project-img">
      <img src="../../assets/images/projects/devconf/2.png" class="project-img">
      <img src="../../assets/images/projects/devconf/3.png" class="project-img">
      <img src="../../assets/images/projects/devconf/4.png" class="project-img">
      <img src="../../assets/images/projects/devconf/5.png" class="project-img">
      <img src="../../assets/images/projects/devconf/6.png" class="project-img">
      <img src="../../assets/images/projects/devconf/7.png" class="project-img">
      <img src="../../assets/images/projects/devconf/8.png" class="project-img">
      <img src="../../assets/images/projects/devconf/9.png" class="project-img">
      <img src="../../assets/images/projects/devconf/10.png" class="project-img">
      <img src="../../assets/images/projects/devconf/11.png" class="project-img">
      <img src="../../assets/images/projects/devconf/12.png" class="project-img">
      <img src="../../assets/images/projects/devconf/13.png" class="project-img">

    </div>
  </div>
</div>
{{> contact}}
{{> footer}}
