<div class="section-top" id='app'>
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/dgtmarket.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>DGTMARKET</h2>
    <h3>Landing Page Redesign</h3>
  </div>

  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">dgtmarket.com is a modern exchange platform that allows to buy
            and sell Bitcoin and Litecoin. Their landing page needed refreshing - the idea was to design it in a more
            engaging interactive way and present the new content. The main impact was put on graphic solutions and
            content structure.</p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <ul class="padding-top text-left">
            <li>keep the consistency with the existing logo and key visuals</li>
            <li>design custom illustrations referring to the current trends in graphic design</li>
            <li>add animations and visual effects to involve the user and catch his attention</li>
            <li>take care of Responsive Web Design</li>
            <li>divide the content into independent sections to make it more readable</li>
            <li>focus on Call To Action</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affinity Designer / webpack2 / sass / Bootstrap / ScrollMagic.js / svg animations /
        Bitbucket / sketchbook</h3>
    </div>
    <div class="container">
      <img src="../../assets/images/projects/dgt/1.png" class="project-img" alt="devices showcase">
      <img src="../../assets/images/projects/dgt/2.png" class="project-img" alt="hero graphic">
      <img src="../../assets/images/projects/dgt/3.png" class="project-img" alt="project graphics">
      <img src="../../assets/images/projects/dgt/4.png" class="project-img" alt="project graphics and icons">
      <img src="../../assets/images/projects/dgt/5.png" class="project-img" alt="landing page">
      <img src="../../assets/images/projects/dgt/6.png" class="project-img" alt="landing page">
      <img src="../../assets/images/projects/dgt/7.png" class="project-img" alt="typography and colors">
    </div>
  </div>
</div>
{{> contact}}
{{> footer}}
