<div class="section-top" id='app'>
  {{> back-button}}
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/focusboard.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>Focus Board</h2>
  </div>
  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">
            Focusboard.io is a simple tool that allows you to visually scrape interesting parts of different websites
            to create your personal internet dashboard.
          </p>
          <p class="padding-top text-left white-space">
            I was asked to prepare a landing page redesign to make it stand out and more attractive for the potential
            users. The scope of work also included the user’s dashboard redesign as well as login page.
          </p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <ul class="padding-top text-left">
            <li>
              To support a fresh look of a website I started from the new icon design. I wanted it to present the clear
              message about the product, be simple and minimalist (as it should function also as a Chrome Extension on
              a browser toolbar).
            </li>
            <li>
              I added “how it works” section to the website. I designed a set of custom icons to make it easier for the
              user to understand how the app works
            </li>
            <li>after experimenting with many different colours, the client and I decided on choosing calm blue as a
              primary colour. I filled the palette with the lighter shades for sections and darker for typography</li>
            <li>
              to keep the user updated about everything that is happening in the UI i also designed an empty dashboard
              initial state to make it more friendly and encourage to the engagement
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affinity Designer / Affinity Photo</h3>
    </div>
    <div class="container">
      <img src="../../assets/images/projects/focusboard/1.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/2.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/3.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/4.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/5.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/6.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/7.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/8.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/9.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/10.png" class="project-img">
      <img src="../../assets/images/projects/focusboard/11.png" class="project-img">
    </div>
  </div>
</div>
{{> contact}}
{{> footer}}
