<div class="section-top" id='app'>
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/ragnarsonbrand.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>Ragnarson Branding</h2>
    <h3>Logo, business cards & leaflet Design</h3>
  </div>
  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">Redesign existing logo & create a coherent visual identity for
            Ragnarson - IT company that helps entrepreneurs build MVPs and increase development speed and quality.</p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <ul class="padding-top text-left">
            <li>new logo sign with an old logotype to refresh the look & keep the brand recognizability at the same
              time</li>
            <li> the sign concept was based on three elements: ruby shape (which symbolizes Ruby programming language),
              the R letter (from the first letter of the company's name) and the Terminal sign > _ connected directly
              to programming</li>
            <li>the new logo was used as a base for the further visual identity development. Business cards, envelopes,
              leaflets — they all have something in common with the logo idea so that they're visually consistent and
              recognizable</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affity Designer / Affinity Photo / sketchbook</h3>
    </div>
  </div>
  <div class="container">
    <img src="../../assets/images/projects/ragnarsonbrand/1.png" class="project-img" alt="logo">
    <img src="../../assets/images/projects/ragnarsonbrand/2.png" class="project-img" alt="business cards">
    <img src="../../assets/images/projects/ragnarsonbrand/3.png" class="project-img" alt="brand stationery">
    <img src="../../assets/images/projects/ragnarsonbrand/4.png" class="project-img" alt="leaflet">
  </div>
</div>
{{> contact}}
{{> footer}}
