<div class="section-top">
  <backButton></backButton>
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/tipiux.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>Tipi UX</h2>
  </div>

  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">
            Tipi UX is a series of cyclical, free meetings connected to the topics of UX, UI, graphic design,
            programming, and psychology. Our speakers present current trends and news, as well as good practices and UX
            processes. Together, we focus on spreading knowledge passed on by people known and closely related to the
            UX industry in Poland and around the world.
          </p>
          <p class="text-left white-space">
            We have decided on the rebranding firstly because our previous logo didn't communicate clearly that we're
            connected to the UX industry. People were confused and didn't associate it with our meetups.
          </p>
          <p class="text-left white-space">
            Secondly - all of our visual identity elements were designed by different designers. In the result, we
            ended up with many different styles of our promotional materials. This definitely wasn't helpful in
            building the visual consistency around the brand.
          </p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <ul class="padding-top text-left">
            <li>
              Logo Redesign: the first version was presented by Marta Mielcarek - the concept was to combine the letter
              X with the tipi illustration and make it a symbol. At this point, we've decided to use Montserrat as our
              main font.
            </li>
            <li>
              I used Marta's idea and played with the details - typography, colors and the general visual feeling of
              the sign. We wanted to make the logo minimalistic, more modern and easy to identify with the UX industry.
              We decided on lowercase typography and a small triangle inside of X that represents the tipi. The new
              logo was definitely the result of the teamwork.
            </li>
            <li>I chose the color palette and prepared the logo in different versions</li>
            <li>The color palette needed to be extensive because it will be used to create illustrative graphics. It's
              also so flexible that we can use the logo in many different color variations.</li>
            <li>
              All illustrations have the cut-out effect - they picture the elements connected with ethnic/tribal
              motives. To add some handmade graphic impression I covered all illustrations with the grained texture
            </li>
            <li>
              it all allowed us to create a consistent visual identity with a clear message that can't be confused with
              anything else
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affinity Designer / Affinity Photo</h3>
    </div>
    <div class="container">
      <img src="../../assets/images/projects/tipiux/2.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/3.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/4.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/5.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/6.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/7.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/8.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/9.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/10.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/11.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/12.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/13.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/14.png" class="project-img">
      <img src="../../assets/images/projects/tipiux/15.png" class="project-img">
    </div>
  </div>
</div>
{{> contact}}
{{> footer}}
