<div class="section-top" id='app'>
  <div class="project-header padding-2/1-top c-light">
    <img src="../../assets/images/projects/trug.png" alt="devices graphic" class="header-img">
  </div>
  <div>
    <h2>TRUG</h2>
    <h3>Landing Page Redesign</h3>
    <a href="http://trug.pl/" target="_blank" class="button button-project">
      Go to website
      <img src="../../assets/images/arrow-right.svg" class="button-icon">
    </a>
  </div>
  <div class="c-dark">
    <div class="container project-study text-left">
      <div class="grid padding-2/1-top">
        <div class="grid-item 1/2 compact-1/1 text-left">
          <img src="../../assets/images/challenges.svg" alt="icon challenges" class="study-icon">
          <h3 class="d-inline padding-left">Challenges</h3>
          <p class="padding-top text-left white-space">TRUG stands for Tricity Ruby User Group - it's the group of
            people that meet every month in Sopot to discuss about programming (mainly in Ruby language, but not only).
            The task was to redesign the existing logo and website to fit current standards & design trends.</p>
        </div>
        <div class="grid-item 1/2 compact-1/1">
          <img src="../../assets/images/solutions.svg" alt="icon solutions" class="study-icon">
          <h3 class="d-inline padding-left">Solutions</h3>
          <ul class="padding-top text-left">
            <li>logo referring to the anchor symbol, Gdańsk architecture reflecting on the water and the ruby sign
              connected with the programming language</li>
            <li>make the website responsive</li>
            <li>custom hero graphic with the city panorama containing architectural elements of Gdańsk, Sopot & Gdynia</li>
            <li>care about the consistency in style (colors, rounded edges, linear graphics & icons)</li>
            <li>add CTA on the top in case the user wants to see directly when & where is the next meeting</li>
            <li>put an impact on social aspects</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary-muted padding-3/1-vertical margin-2/1-top">
      <h2>Tools used</h2>
      <h3 class="padding-top">Affity Designer / Affinity Photo / sketchbook / Ruby Sinatra / Slim / Sass/ hocus-pocus
        CSS Framework / GIT</h3>
    </div>
  </div>
  <div class="container">
    <img src="../../assets/images/projects/trug/1.png" class="project-img" alt="logo concept">
    <img src="../../assets/images/projects/trug/2.png" class="project-img" alt="logo">
    <img src="../../assets/images/projects/trug/3.png" class="project-img" alt="typography">
    <img src="../../assets/images/projects/trug/4.png" class="project-img" alt="colors">
    <img src="../../assets/images/projects/trug/5.png" class="project-img" alt="landing page">
    <img src="../../assets/images/projects/trug/6.png" class="project-img" alt="mockups">
    <img src="../../assets/images/projects/trug/7.png" class="project-img" alt="brand t-shirts">
    <img src="../../assets/images/projects/trug/8.png" class="project-img" alt="panorama">
  </div>
</div>
{{> contact}}
{{> footer}}
