
@import 'variables';
@import 'buttons';
@import '~hocus-pocus/hocus-pocus';
@import 'project';
@import 'hero';
@import 'navbar';
@import 'sections';
@import 'utils';


html, body {
  width: 100vw;
  overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin-top: 2rem;
}

h2 {
  font-size: 2.2em;

  &:after {
    content: "";
    background: $color-secondary;
    display: flex;
    margin: 0 auto;
    width: 5em;
    height: 2px;
    top: 10px;
    position: relative;
  }
}

.services-icon {
  height: 165px;
}

.process-no {
  border-radius: 50%;
  box-shadow: $base-box-shadow;
  color: $color-energized;
  font-size: $font-size-large;
  margin: 0 auto;
  height: $process-no-size;
  width: $process-no-size;
}

.process-color-box {
  background: $bg-gradient;
  padding: 7em 0em 3em;
  position: relative;
  top: -5em;
  z-index: -1;
  font-weight: 400;
}
