
.contact {
  background: url('../assets/images/hero-bg.png') no-repeat, $bg-gradient;
  background-attachment: fixed;
  background-size: contain;
  background-position: top center;
  height: 370px;
  width: 100%;

  h2:after {
    background: $color-light;
  }
}

.social-media-bar a {
  transition: $base-transition;

  img {
    height: 35px;
    padding: 0 2em;
  }

  &:hover {
    opacity: .8;
  }
}

@media only screen and (max-width: 568px) {
  .social-media-bar a {
    img {
      padding: 0 10px;
    }
  }
}
