.bg-primary-muted {
  background-color: $color-primary-muted;
}

.c-primary {
  color: $color-primary;
}

.c-dark {
  color: $color-dark;
}

.c-light {
  color: $color-light;
}

.font-size-small {
  font-size: $font-size-small;
}

.font-size-large {
  font-size: $font-size-large;
}

.d-inline {
  display: inline;
}

.white-space {
  white-space: pre-line;
}
