<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" initial-scale=1/>
    <meta property="og:title" content="Agata Kubiak"/>
    <meta property="og:description" content="Business Portfolio with Services such as UX/UI Design, Branding and Web Development"/>
    <meta property="og:image" content="${require('./assets/images/portfolio_cover.png')}"/>
    <title>Agata Kubiak | Business Portfolio</title>
  </head>
  <body id="app">
    {{> navbar}}
    {{> hero}}
    {{> services}}
    {{> case-studies}}
    {{> work-process}}
    {{> about}}
    {{> contact}}
    {{> footer}}
  </body>
</html>
